.Front, .Back {
  width: 98%;
  padding-top: 80%;
  margin-top:5px;
}

.Front {
  background-color: white;
}

.Front img {
  position: relative;
  background-size: cover;
  width:100%;
  margin-top: -83%;
}

.Back img {
  position: relative;
  background-size: cover;
  width:100%;
  margin-top: -83%;
}

.ImageContainer {
  height: 0px;
}

.Back{
  background-color: white;
  color: black;
  margin-left: 8px;
  align-content: flex-start;
}

.ExampleInfo {
  font-family: 'Titillium Web', sans-serif;
  padding: 10px;
  width: 98%;
  height: 100%;
  margin-top: -85%;
}

.ExampleInfo h1 {
  margin: 20px;
  padding-right: 25px;
}

.ExampleInfo p {
  margin: 20px;
  padding-right: 25px;
}

.ExampleInfo a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
  margin: 20px;
  padding-bottom: 10px;
}

.FlipContainer {
	perspective: 0;
}
	/* flip the pane when hovered */
	.FlipContainer:hover {
		transform: rotateY(180deg);
	}

.FlipContainer {
  width: 98%;
  padding-top: 80%;
  margin-top:18%;
  transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.Front, .Back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.Front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.Back {
	transform: rotateY(180deg);
}
