.Example {
  align-items: center;
  width: 80%;
  background-color: #FFFFFF;
  margin-left: 10%;
  margin-bottom: 100px;
}

.Example h1 {
  margin: 20px;
}

.Example p {
  margin: 20px;
}

.Example a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
  margin: 20px;
  padding-bottom: 10px;
}

.InnerContent {
  margin-bottom: 20px;
}
