body {
  font-family: interstate, sans-serif;

font-weight: 300;

font-style: normal;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

  background-color: rgba(37, 165, 101, 1);
  color: rgba(255, 255, 255, 1);

  padding-bottom: 175px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.Landing-about {
  display:table;
}

.row1 {
  grid-template-columns: repeat(2, auto);
  display: grid;
  align-content: center;
  width: 100%;
}

.row1 img {
  margin-left: 20px;
  margin-top: 4%;
  box-shadow: 0px 0px 25px grey;
}

.row1 #hello {
  margin-left: 10px;
  margin-top: 60px;
  text-align: left;
}

p {
  font-size: x-large;
}

#hello h1 {
  font-size: 2.3em;
}

.row2 {
  grid-template-columns: repeat(2, auto);
  display: grid;
  align-content: center;
  width: 100%;
  margin-top: 10%;
  margin-left: 35px;
}

.row2 #description {
  width: 100%;
}

.row2 #contact {
  width: 70%;
  margin-left: 15%;
  margin-top: -14px;
}

@media (max-width: 1200px) {
  .row1 {
    grid-template-columns: repeat(1, auto);
  }

  .row1 img {
    width:80%;
    height:80%;
    margin-left: 10%;
  }

  .row1 #hello {
    align-self: center;
    margin-top: 50px;
    margin-left: 20px;
  }

  .row2 {
    grid-template-columns: repeat(1, auto);
  }

  .row2 #description {
    width: 80%;
  }

  .row2 #contact {
    width: 80%;
    margin-left: 0;
  }
}
