.futureOfTransportMagazinePages {
  grid-template-columns: repeat(2, auto);
  display: grid;
  align-content: space-between;
  width: 100%;
  background-color: rgba(240, 240, 240, 1);
}

.page {
  width: 100%;
}

@media (max-width: 825px) {
  .futureOfTransportMagazinePages {
    grid-template-columns: repeat(1, auto);
  }
}
