.futureOfTransportMagazinePages {
  grid-template-columns: repeat(2, auto);
  display: grid;
  align-content: space-between;
  width: 100%;
  background-color: rgba(240, 240, 240, 1);
}

.page {
  width: 98%;
  padding-right:1%;
  padding-left:1%;
  padding-top: 1px;
}

@media (max-width: 825px) {
  .futureOfTransportMagazinePages {
    grid-template-columns: repeat(1, auto);
  }
}
