.WorkDetail {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  margin-top: 10px;
  padding-bottom: 200px;
  background-color: white;
  color: black;
}

.pdfButton {
  color: blue;
  width: 60%;
  background-color: white;
  margin-left: 30%;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #DDDDDD;
}

.oneHalfImage {
  width: 50%;
}

.fullImage {
  width: 100%;
}

.threeQuartersImage {
  width: 75%;
}

.twoColImage {
  width: 80%;
  padding-left: 10%;
}

.twoColLayout {
  grid-template-columns: repeat(2, auto);
  display: grid;
  align-content: space-between;
  width: 100%;
}

#appIcon {
  padding-left: 12.5%;
  padding-top: 50px;
  max-width: 450px;
}

@media (max-width: 750px) {
  .oneHalfImage {
    width: 100%;
  }

  .twoColLayout {
    grid-template-columns: repeat(1, auto);
    display: grid;
  }
}
