.WorkDetail {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  margin-top: 10px;
  padding-bottom: 200px;
  background-color: white;
  color: black;
}

.oneHalfImage {
  width: 50%;
}

.fullImage {
  width: 100%;
}

.threeQuartersImage {
  width: 75%;
}

@media (max-width: 750px) {
  .oneHalfImage {
    width: 100%;
  }
}
